div#home.section.row.align-items-center.justify-content-center
    div.intro.mx-auto
        div
            img(src="img/logo2.png")
        p Hello, its me
        h1 TARUN CHINE
        p Front-end Developer
        div
            a(href="#") Read More
            a(href="#") Download CV