div#home.section.row.align-items-center.justify-content-center
    div.intro.mx-auto
        div.logo
            img(src="img/logo2.png")
        p HELLO, ITS ME
        h1 Tarun Chine
        p.post FRONT-END DEVELOPER
        div.links
            a(href="#") READ MORE
            a(href="#") DOWNLOAD CV