nav.navbar.navbar-toggleable-md.fixed-top
    button.navbar-toggler.navbar-toggle-right(type="button", data-target="#navbar-links", data-toggle="collapse", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggle-icon
    a.navbar-brand
        img.d-inline-block.align-top(alt="logo", src="img/logo2.png", width="45")
    div#navbar-links.navbar-collapse.collapse
        ul.navbar-nav.ml-auto
            li.nav-item.active
                a.nav-link.btn.btn-sm.align-middle.btn-outline-success(href="#home") Home
            li.nav-item
                a.nav-link.btn.btn-sm.align-middle.btn-outline-success(href="#resume") Resume
            li.nav-item
                a.nav-link.btn.btn-sm.align-middle.btn-outline-success(href="#profile") Profile
            li.nav-item
                a.nav-link.btn.btn-sm.align-middle.btn-outline-success(href="#contact") Contact
            li.nav-item
                a.nav-link.btn.btn-sm.align-middle.btn-outline-success(href="#blog") Blog